body{
    background: #0C004C;
    text-align: center;
}

#monitoramento{
    width: 782px;
    height: 123px;
    flex-shrink: 0;
    position: absolute;
    top: 72px;
    left: 50%;
    transform: translateX(-50%);
}


#perfil{
    width: 71px;
    height: 71px;
    flex-shrink: 0;
    position: absolute;
    top: 34px;
    left: 1236px;
}

#seta{
    width: 57px;
    height: 57px;
    flex-shrink: 0;
    position: absolute;
    top: 47px;
    left: 122px;
}

#elipse_verde{
    width: 73px;
    height: 73px;
    flex-shrink: 0;
    fill: #8CE264;
    position: absolute;
    top: 191px;
    left: 243px;
}

#exclamacao{
    width: 52px;
    height: 57px;
    flex-shrink: 0;
    position: absolute;
    top: 197px;
    left: 254px;
}

#div1{
    width: 927px;
    height: 355px;
    flex-shrink: 0;
    border-radius: 48px;
    border: 5px solid #634CD9;
    background: #FFF;
    position: absolute;
    top: 404px;
    left: 50%;
    transform: translateX(-50%);
}

#div2{
    width: 308px;
    height: 122px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 5px solid #634CD9;
    background: #FFF;
    position: absolute;
    top: 238px;
    left: 317px;
}

#alunoa{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    top: 190px;
    left: 330px;
}

#p1{
    color: #634CD9;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    top: -10px;
    left: 9px;
}

#p2{
    color: #634CD9;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    top: 15px;
    left: 9px;
}

#p3{
    color: #634CD9;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    top: 38px;
    left: 10px;
}

#p4{
    color: #634CD9;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    top: 65px;
    left: 10px;
}

#elipse{
    width: 190px;
    height: 190px;
    flex-shrink: 0;
    position: absolute;
    top: 200px;
    left: 102px;
}

#perfil2{
    width: 190px;
    height: 190px;
    flex-shrink: 0;
    position: absolute;
    top: 200px;
    left: 102px;
}

#elipseatv{
    width: 220px;
    height: 220px;
    flex-shrink: 0;
    position: absolute;
    top: 57px;
    left: 84px;
}

#atividades{
    width: 211px;
    height: 211px;
    flex-shrink: 0;
    position: absolute;
    top: 61px;
    left: 89px;
}
#elipseatv2{
    width: 220px;
    height: 220px;
    flex-shrink: 0;
    position: absolute;
    top: 57px;
    left: 50%;
    transform: translateX(-50%);
}

#autoavaliacao{
    width: 211px;
    height: 211px;
    flex-shrink: 0;
    position: absolute;
    top: 61px;
    left: 50%;
    transform: translateX(-50%);
}
#elipseatv3{
    width: 220px;
    height: 220px;
    flex-shrink: 0;
    position: absolute;
    top: 57px;
    left: 80%;
    transform: translateX(-50%);
}

#reunioes{
    width: 211px;
    height: 211px;
    flex-shrink: 0;
    position: absolute;
    top: 61px;
    left: 80%;
    transform: translateX(-50%);
}

#atividadetxt{
    color: #634CD9;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    top: 269px;
    left: 145px;
}

#autoavaliacaotxt{
    color: #634CD9;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    top: 269px;
    left: 50%;
    transform: translateX(-50%);
}

#reunioestxt{
    color: #634CD9;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    top: 269px;
    left: 80%;
    transform: translateX(-50%);
}