<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'atividades.css' %}">
    <title>Document</title>
</head>
<body>
    <img src="{% static 'atividadestxt.png' %}" alt="" id="atividades">
    <img src="{% static 'perfil.png' %}" alt="" id="perfil">
    <img src="{% static 'seta.svg' %}" alt="" id="seta">
    <p id="alunoa">Aluno A</p>
    <img src="{% static 'elipse.svg' %}" alt="" id="elipse">
    <img src="{% static 'perfil.png' %}" alt="" id="perfil2">
    <img src="{% static 'eliseve_verde.svg' %}" alt="" id="elipse_verde">
    <img src="{% static 'exclamação.png' %}" alt="" id="exclamacao">

    <div id="divmaterias">
        <button id="materia1">
            <img src="{% static 'globo.png' %}" alt="" style="width: 14px; height: 15px; flex-shrink: 0; position: absolute ; top: 5%; transform: translateY(-50%); left: 13px;">
            <p style="width: 106px; color: #FFF; font-family: 'Inter', sans-serif; font-size: 36px;font-style: normal; font-weight: 700; line-height: normal; position: absolute; top: -25px; left: 30px;">Geral</p>
        </button> 
        <button id="materia2" style="position: absolute; top: 63px; left: 0px;">
            <img src="{% static 'elipse.svg' %}" alt="" style="width: 14px; height: 15px; flex-shrink: 0; position: absolute ; top: 50%; transform: translateY(-50%); left: 13px;">
            <p style="width: 106px; color: #634CD9; font-family: 'Inter', sans-serif; font-size: 36px;font-style: normal; font-weight: 700; line-height: normal; position: absolute; top: -25px; left: 30px;">Geral</p>
        </button>
        <button id="materia2" style="position: absolute; top: 127px; left: 0px;">
            <img src="{% static 'elipse.svg' %}" alt="" style="width: 14px; height: 15px; flex-shrink: 0; position: absolute ; top: 50%; transform: translateY(-50%); left: 13px;">
            <p style="width: 106px; color: #634CD9; font-family: 'Inter', sans-serif; font-size: 36px;font-style: normal; font-weight: 700; line-height: normal; position: absolute; top: -25px; left: 30px;">Geral</p>
        </button>
        <button id="materia2" style="position: absolute; top: 191px; left: 0px;">
            <img src="{% static 'elipse.svg' %}" alt="" style="width: 14px; height: 15px; flex-shrink: 0; position: absolute ; top: 50%; transform: translateY(-50%); left: 13px;">
            <p style="width: 106px; color: #634CD9; font-family: 'Inter', sans-serif; font-size: 36px;font-style: normal; font-weight: 700; line-height: normal; position: absolute; top: -25px; left: 30px;">Geral</p>
        </button>
        <button id="materia2" style="position: absolute; top: 255px; left: 0px;">
            <img src="{% static 'elipse.svg' %}" alt="" style="width: 14px; height: 15px; flex-shrink: 0; position: absolute ; top: 50%; transform: translateY(-50%); left: 13px;">
            <p style="width: 106px; color: #634CD9; font-family: 'Inter', sans-serif; font-size: 36px;font-style: normal; font-weight: 700; line-height: normal; position: absolute; top: -25px; left: 30px;">Geral</p>
        </button>
        <button id="materia2" style="position: absolute; top: 319px; left: 0px;">
            <img src="{% static 'elipse.svg' %}" alt="" style="width: 14px; height: 15px; flex-shrink: 0; position: absolute ; top: 50%; transform: translateY(-50%); left: 13px;">
            <p style="width: 106px; color: #634CD9; font-family: 'Inter', sans-serif; font-size: 36px;font-style: normal; font-weight: 700; line-height: normal; position: absolute; top: -25px; left: 30px;">Geral</p>
        </button>
        <button id="materia2" style="position: absolute; top: 383px; left: 0px;">
            <img src="{% static 'elipse.svg' %}" alt="" style="width: 14px; height: 15px; flex-shrink: 0; position: absolute ; top: 50%; transform: translateY(-50%); left: 13px;">
            <p style="width: 106px; color: #634CD9; font-family: 'Inter', sans-serif; font-size: 36px;font-style: normal; font-weight: 700; line-height: normal; position: absolute; top: -25px; left: 30px;">Geral</p>
        </button>
        <button id="materia2" style="position: absolute; top: 447px; left: 0px;">
            <img src="{% static 'elipse.svg' %}" alt="" style="width: 14px; height: 15px; flex-shrink: 0; position: absolute ; top: 50%; transform: translateY(-50%); left: 13px;">
            <p style="width: 106px; color: #634CD9; font-family: 'Inter', sans-serif; font-size: 36px;font-style: normal; font-weight: 700; line-height: normal; position: absolute; top: -25px; left: 30px;">Geral</p>
        </button>
        <button id="materia2" style="position: absolute; top: 511px; left: 0px;">
            <img src="{% static 'elipse.svg' %}" alt="" style="width: 14px; height: 15px; flex-shrink: 0; position: absolute ; top: 50%; transform: translateY(-50%); left: 13px;">
            <p style="width: 106px; color: #634CD9; font-family: 'Inter', sans-serif; font-size: 36px;font-style: normal; font-weight: 700; line-height: normal; position: absolute; top: -25px; left: 30px;">Geral</p>
        </button>
    </div>

    <div id="div2">
        <p id="p1">Sala: 1</p>
        <p id="p2">Turno: Manhã</p>
        <p id="p3">Idade: X</p>
        <p id="p4">Responsáveis: A e B</p>
    </div>

    <div id="divpresenca">
        <p id="presencageral">Presença geral</p>
        <img src="{% static 'eliseve_verde.svg' %}" alt="" id="elipse_verde2">
        <img src="{% static 'correto.png' %}" alt="" id="correto">
        <img src="{% static 'elipse_vermelha.svg' %}" alt="" id="elipse_vermelha">
        <img src="{% static 'x.png' %}" alt="" id="x">
    </div>
    <div id="divausencia">
        <p id="ausencia">Ausência em</p>
        <p id="ausencia2">atividade(S):</p>
        <img src="{% static 'elipse_amarela.svg' %}" alt="" id="elipse_amarela">
    </div>
    <div id="linha"></div>
    <div id="linha2"></div>

    <div id="divcomparecimento">
        <p id="compdiario">Comparecimento Diário</p>
        <div id="legenda">
            <img src="{% static 'elipse_azul.svg' %}" alt="" id="elipse_legenda" style="position: absolute; top: 13px; ; left: 15px;">
            <img src="{% static 'elipse_lilais.svg' %}" alt="" id="elipse_legenda " style="position: absolute; top: 50%; transform: translateY(-50%); left: 15px;">
            <img src="{% static 'elipse_rosa.svg' %}" alt="" id="elipse_legenda" style="position: absolute; top: 61px; ; left: 15px;">
            <p id="legendatxt" style="position: absolute; top: -5px; ; left: 30px;">Presença</p>
            <p id="legendatxt" style="position: absolute; top: 35%; transform: translateY(-50%) ; left: 30px;">Ausência</p>
            <p id="legendatxt" style="position: absolute; top: 61%; transform: translateY(-50%) ; left: 15px;">Falta</p>

        </div>
    </div>

    <div id="marcacao">
        <div id="mes">
            <img src="{% static 'seta.svg' %}" alt="" style="position: absolute; top: 50%; transform: translateY(-50%); left: 10px;">
            <img src="{% static 'seta.svg' %}" alt="" style="position: absolute; top: 15%; transform: translateY(-50%); right: 10px; transform: rotate(-180.205deg);" >
        </div>

        <button id="marcador" style="position: absolute; top: 108px; left: 35px;"></button>
        <button id="marcador" style="position: absolute; top: 108px; left: 115px;"></button>
        <button id="marcador" style="position: absolute; top: 108px; left: 195px;"></button>
        <button id="marcador" style="position: absolute; top: 108px; left: 275px;"></button>
        <button id="marcador" style="position: absolute; top: 108px; left: 355px;"></button>
        <button id="marcador" style="position: absolute; top: 108px; left: 435px;"></button>
        <button id="marcador" style="position: absolute; top: 108px; left: 515px;"></button>

        <button id="marcador" style="position: absolute; top: 188px; left: 35px;"></button>
        <button id="marcador" style="position: absolute; top: 188px; left: 115px;"></button>
        <button id="marcador" style="position: absolute; top: 188px; left: 195px;"></button>
        <button id="marcador" style="position: absolute; top: 188px; left: 275px;"></button>
        <button id="marcador" style="position: absolute; top: 188px; left: 355px;"></button>
        <button id="marcador" style="position: absolute; top: 188px; left: 435px;"></button>
        <button id="marcador" style="position: absolute; top: 188px; left: 515px;"></button>

        <button id="marcador" style="position: absolute; top: 268px; left: 35px;"></button>
        <button id="marcador" style="position: absolute; top: 268px; left: 115px;"></button>
        <button id="marcador" style="position: absolute; top: 268px; left: 195px;"></button>
        <button id="marcador" style="position: absolute; top: 268px; left: 275px;"></button>
        <button id="marcador" style="position: absolute; top: 268px; left: 355px;"></button>
        <button id="marcador" style="position: absolute; top: 268px; left: 435px;"></button>
        <button id="marcador" style="position: absolute; top: 268px; left: 515px;"></button>

        <button id="marcador" style="position: absolute; top: 348px; left: 35px;"></button>
        <button id="marcador" style="position: absolute; top: 348px; left: 115px;"></button>
        <button id="marcador" style="position: absolute; top: 348px; left: 195px;"></button>
        <button id="marcador" style="position: absolute; top: 348px; left: 275px;"></button>
        <button id="marcador" style="position: absolute; top: 348px; left: 355px;"></button>
        <button id="marcador" style="position: absolute; top: 348px; left: 435px;"></button>
        <button id="marcador" style="position: absolute; top: 348px; left: 515px;"></button>

        <button id="marcador" style="position: absolute; top: 428px; left: 35px;"></button>
        <button id="marcador" style="position: absolute; top: 428px; left: 115px;"></button>
        
        
        <button style="width: 18px; height: 19px; flex-shrink: 0; border: 3px solid #0C004C; background: #FFF;position: absolute; top: 478px; left: 507px;"></button>
        <p style="width: 52px; color: #FFF; font-family:'Inter', sans-serif; font-size: 20px; font-style: normal; font-weight: 700; position: absolute; top: 455px; left: 527px;">Hoje</p>


    </div>
</body>
</html>