<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Professor</title>
    <link rel="stylesheet" href="cadastro_prof.css">
</head>
<body>
    <img src="imgs/clorofill.png" alt="" id="clorofill">
    <p id="p1">Cadastro como Professor</p>
    <div id="div">
        <p id="emailtxt">Email</p>
        <input type="email" name="" id="email">
        <p id="senha1txt">Senha</p>
        <input type="password" name="" id="senha1">
        <p id="senha2txt">Confirmação de senha</p>
        <input type="password" name="" id="senha2">
        <button id="cancelar"></button>
        <button id="continuar"></button>
    </div>
</body>
</html>