<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="eu_eo_mundo.css">
    <title>Document</title>
</head>
<body>
    <img src="static/eu_eo_mundo.png" alt="" id="eu_eo_mundo">
    <p id="manha">Manhã</p>
    <input type="search" id="pesquisa">
    <img src="{% static 'Ellipse.png' %}" alt="elipse">
    <img src="{% static 'lupa.png' %}" alt="lupa">
    <img src="{% static 'perfil.png' %}" alt="perfil">
    <img src="{% static 'seta.svg' %}" alt="seta">
    <img src="static/seta.svg" alt="" id="seta">
    <div id="div1">
        <img src="{% static 'elipse.svg' %}" alt="elipse1">
        <img src="{% static 'elipse.svg' %}" alt="elipse2">
        <img src="{% static 'elipse.svg' %}" alt="elipse3">
        <img src="{% static 'elipse.svg' %}" alt="elipse4">
        <img src="{% static 'perfil.png' %}" alt="perfil1">
        <img src="{% static 'perfil.png' %}" alt="perfil2">
        <img src="{% static 'perfil.png' %}" alt="perfil3">
        <img src="{% static 'perfil.png' %}" alt="perfil4">

        <p id="alunoa" >Aluno A</p>
        <p id="alunob" >Aluno B</p>
        <p id="alunoc" >Aluno C</p>
        <p id="alunod" >Aluno D</p>

        
        <img src="{% static 'elipse.svg' %}" alt="elipse5">
        <img src="{% static 'elipse.svg' %}" alt="elipse6">
        <img src="{% static 'elipse.svg' %}" alt="elipse7">
        <img src="{% static 'elipse.svg' %}" alt="elipse8">
        <img src="{% static 'perfil.png' %}" alt="perfil5">
        <img src="{% static 'perfil.png' %}" alt="perfil6">
        <img src="{% static 'perfil.png' %}" alt="perfil7">
        <img src="{% static 'perfil.png' %}" alt="perfil8">

        <p id="alunoe" >Aluno E</p>
        <p id="alunof" >Aluno F</p>
        <p id="alunog" >Aluno G</p>
        <p id="alunoh" >Aluno H</p>


    </div>
    
    <div id="div2">
        <img src="imgs/exclamação.png" alt="" id="exclamacao1">
        <img src="imgs/excalamacao2.svg" alt="" id="exclamacao2">
        <img src="imgs/exclamacao3.png" alt="" id="exclamacao3">

        <p id="faltas3">3 Faltas</p>
        <p id="faltas2">3 Faltas</p>
        <p id="faltas1">3 Faltas</p>
        
    </div>
</body>
</html>