<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="eu_eo_mundo.css">
    <title>Document</title>
</head>
<body>
    <img src="imgs/eu_eo_mundo.png" alt="" id="eu_eo_mundo">
    <p id="manha">Manhã</p>
    <input type="search" id="pesquisa">
    <img src="imgs/Ellipse.png" alt="" id="elipse">
    <img src="imgs/lupa.png" alt="" id="lupa">
    <img src="imgs/perfil.png" alt="" id="perfil">
    <img src="imgs/seta.svg" alt="" id="seta">
    <div id="div1">
        <img src="imgs/elipse.svg" alt="" id="elipse1">
        <img src="imgs/elipse.svg" alt="" id="elipse2">
        <img src="imgs/elipse.svg" alt="" id="elipse3">
        <img src="imgs/elipse.svg" alt="" id="elipse4">
        <img src="imgs/perfil.png" alt="" id="perfil1">
        <img src="imgs/perfil.png" alt="" id="perfil2">
        <img src="imgs/perfil.png" alt="" id="perfil3">
        <img src="imgs/perfil.png" alt="" id="perfil4">

        <p id="alunoa" >Aluno A</p>
        <p id="alunob" >Aluno B</p>
        <p id="alunoc" >Aluno C</p>
        <p id="alunod" >Aluno D</p>

        
        <img src="imgs/elipse.svg" alt="" id="elipse5">
        <img src="imgs/elipse.svg" alt="" id="elipse6">
        <img src="imgs/elipse.svg" alt="" id="elipse7">
        <img src="imgs/elipse.svg" alt="" id="elipse8">
        <img src="imgs/perfil.png" alt="" id="perfil5">
        <img src="imgs/perfil.png" alt="" id="perfil6">
        <img src="imgs/perfil.png" alt="" id="perfil7">
        <img src="imgs/perfil.png" alt="" id="perfil8">

        <p id="alunoe" >Aluno E</p>
        <p id="alunof" >Aluno F</p>
        <p id="alunog" >Aluno G</p>
        <p id="alunoh" >Aluno H</p>


    </div>
    
    <div id="div2">
        
    </div>
</body>
</html>