<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="monitoramento.css">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="monitoramento.css">
    <title>Document</title>
</head>
<body>
    <img src="imgs/monitoramento.png" alt="" id="monitoramento">
    <img src="imgs/perfil.png" alt="" id="perfil">
    <img src="imgs/seta.svg" alt="" id="seta">
    <p id="alunoa">Aluno A</p>
    <img src="imgs/elipse.svg" alt="" id="elipse">
    <img src="imgs/perfil.png" alt="" id="perfil2">
    <img src="imgs/eliseve_verde.svg" alt="" id="elipse_verde">
    <img src="imgs/exclamação.png" alt="" id="exclamacao">
    <div id="div1">
        <img src="imgs/elipse.svg" alt="" id="elipseatv">
        <img src="imgs/atividades.png" alt="" id="atividades">
        <img src="imgs/elipse.svg" alt="" id="elipseatv2">
        <img src="imgs/autoavaliacao.png" alt="" id="autoavaliacao">
        <img src="imgs/elipse.svg" alt="" id="elipseatv3">
        <img src="imgs/reunioes.png" alt="" id="reunioes">

        <p id="atividadetxt">Atividades</p>
        <p id="autoavaliacaotxt">autoavaliação</p>
        <p id="reunioestxt">Reuniões</p>
    </div>
    <div id="div2">
        <p id="p1">Sala: 1</p>
        <p id="p2">Turno: Manhã</p>
        <p id="p3">Idade: X</p>
        <p id="p4">Responsáveis: A e B</p>
    </div>


</body>
</html>
</body>
</html>