<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'monitoramento.css' %}">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <img src="{% static 'monitoramento.png' %}" alt="" id="monitoramento">
    <img src="{% static 'perfil.png' %}" alt="" id="perfil">
    <img src="{% static 'seta.svg' %}" alt="" id="seta">
    
    <p id="alunoa">Nome: {{ nome }}</p>

    <img src="{% static 'elipse.svg' %}" alt="" id="elipse">
    <img src="{% static 'perfil.png' %}" alt="" id="perfil2">
    <img src="{% static 'eliseve_verde.svg' %}" alt="" id="elipse_verde">
    <img src="{% static 'exclamação.png' %}" alt="" id="exclamacao">
    <div id="div1">
        <a href="{% url 'atividades' nome=nome turma=turma idade=idade %}">
            <img src="{% static 'elipse.svg' %}" alt="" id="elipseatv">
            <img src="{% static 'atividades.png' %}" alt="" id="atividades">
        </a>
        <img src="{% static 'elipse.svg' %}" alt="" id="elipseatv2">
        <img src="{% static 'autoavaliacao.png' %}" alt="" id="autoavaliacao">
        <img src="{% static 'elipse.svg' %}" alt="" id="elipseatv3">
        <img src="{% static 'reunioes.png' %}" alt="" id="reunioes">

        <p id="atividadetxt">Atividades</p>
        <p id="autoavaliacaotxt">autoavaliação</p>
        <p id="reunioestxt">Reuniões</p>
    </div>
    <div id="div2">
        <p id="p1">Sala: {{ turma }}</p>
        <p id="p2">Turno: Manhã</p>
        <p id="p3">Idade: {{ idade }}</p>
        <p id="p4">Responsáveis: A e B</p>
    </div>


    	{% endblock %}
</body>
</html>
