<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Salas</title>
    <link rel="stylesheet" href="salas.css">
</head>
<body>
    <img src="imgs/salas.png" alt="" id="salas">
    <img src="imgs/folha_salas.png" alt="" id="folha_salas">
    <div id="div">
        <img src="imgs/Ellipse.png" alt="" id="elipse1">
        <img src="imgs/Ellipse.png" alt="" id="elipse2">
        <img src="imgs/Ellipse.png" alt="" id="elipse3">
        <img src="imgs/Ellipse.png" alt="" id="elipse4">
        <img src="imgs/eueomundo.png" alt="" id="icn1">
        <img src="imgs/eueomundo.png" alt="" id="icn2">
        <img src="imgs/noseomundo.png" alt="" id="icn3">
        <img src="imgs/noseomundo.png" alt="" id="icn4">
        <p id="p1">Eu e o Mundo</p>
        <p id="t1">Manhã</p>
        <p id="p2">Eu e o Mundo</p>
        <p id="t2">Manhã</p>
        <p id="p3">Nós e o Mundo</p>
        <p id="t3">Tarde</p>
        <p id="p4">Nós e o Mundo</p>
        <p id="t4">Tarde</p>
    </div>
</body>
</html>