<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'reunioes_solicitar.css' %}">
    <title>Document</title>
</head>

<body>
    {% block content %}
    <img src="{% static 'reunioestxt.png' %}" alt="" id="atividades">
    <img src="{% static 'perfil.png' %}" alt="" id="perfil">
    <img src="{% static 'seta.svg' %}" alt="" id="seta">
    <p id="alunoa">{{ nome }}</p>
    <img src="{% static 'elipse.svg' %}" alt="" id="elipse">
    <img src="{% static 'perfil.png' %}" alt="" id="perfil2">
    <img src="{% static 'elipse_verde.svg' %}" alt="" id="elipse_verde">
    <img src="{% static 'exclamação.png' %}" alt="" id="exclamacao">

    <div id="divdados">
        <p id="p1">sala: {{ turma }}</p>
        <p id="p2">Turno: Manhã</p>
        <p id="p3">Idade: {{ idade }}</p>
        <p id="p4">Responsáveis: A e B</p>
    </div>

    <div id="datas">
        <div id="ano">
            <img src="{% static 'seta.svg' %}" alt=""
                style="position: absolute; top: 50%; transform: translateY(-50%); left: 10px;">
            <img src="{% static 'seta.svg' %}" alt=""
                style="position: absolute; top: 15%; transform: translateY(-50%); right: 10px; transform: rotate(-180.205deg);">
        </div>
        <div id="mes" style="top: 108px; left: 37px;"></div>
        <div id="mes" style="top: 108px; left: 155px;"></div>
        <div id="mes" style="top: 108px; left: 273px;"></div>
        <div id="mes" style="top: 108px; left: 390px;"></div>
        <p id="mestxt" style="top: 176px; left: 9%;">Jan</p>
        <p id="mestxt" style="top: 176px; left: 33%;">Fev</p>
        <p id="mestxt" style="top: 176px; left: 57%;">Mar</p>
        <p id="mestxt" style="top: 176px; left: 81%;">Abr</p>
        
        <div id="mes" style="top: 215px; left: 37px;"></div>
        <div id="mes" style="top: 215px; left: 155px;"></div>
        <div id="mes" style="top: 215px; left: 273px;"></div>
        <div id="mes" style="top: 215px; left: 390px;"></div>
        <p id="mestxt" style="top: 283px; left: 9%;">Mai</p>
        <p id="mestxt" style="top: 283px; left: 33%;">Jun</p>
        <p id="mestxt" style="top: 283px; left: 57%;">Jul</p>
        <p id="mestxt" style="top: 283px; left: 81%;">Ago</p>
        
        <div id="mes" style="top: 322px; left: 37px;"></div>
        <div id="mes" style="top: 322px; left: 155px;"></div>
        <div id="mes" style="top: 322px; left: 273px;"></div>
        <div id="mes" style="top: 322px; left: 390px;"></div>
        <p id="mestxt" style="top: 390px; left: 9%;">Set</p>
        <p id="mestxt" style="top: 390px; left: 33%;">Out</p>
        <p id="mestxt" style="top: 390px; left: 57%;">Nov</p>
        <p id="mestxt" style="top: 390px; left: 81%;">Dez</p>
    </div>
    
    <div id="legenda">
        <img src="{% static 'exclamacao3.png' %}" alt="" id="exclamacao" style="top: 17px; left: 18px;">
        <p id="faltas" style="top: 17px; left: 80px;">1 Falta</p>
        <img src="{% static 'exclamação.png' %}" alt="" id="exclamacao" style="top: 17px; left: 188px;">
        <p id="faltas" style="top: 17px; left: 252px;">3 Falta</p>
        <img src="{% static 'excalamacao2.svg' %}" alt="" id="exclamacao" style="top: 89px; left: 18px;">
        <p id="faltas" style="top: 89px; left: 80px;">2 Falta</p>
        <img src="{% static 'exclamacao4.png' %}" alt="" id="exclamacao" style="top: 89px; left: 188px;">
        <p id="faltas" style="top: 89px; left: 252px;">+3 Faltas</p>
    </div>

    <button id="historico"></button>
    <button id="solicitar"></button>
    <div id="hist_reunioes">
       <p id="solicitar_reuniao">Solicitação de reunião com os responsáveis de Aluno A</p>
        <p id="corpo">Corpo da mensagem</p>
        <form action="{% url 'solicitar' nome=nome turma=turma idade=idade %}" method="POST">
            {% csrf_token %}
            <input type="text" name="msg" id="mensagem_solicitacao">
            <button id="cancelar"></button>
            <button id="enviar" type="submit"></button>
        </form>
        
    </div>


    </div>
    {% endblock %}
</body>
</html>